@model telephone_directory.Models.Contact
@functions 
{

}

@{
    ViewData["Title"] = "Create";
    ViewData["isDefault"] = true;
}

<style>
    .phone-control {
        height: auto;
        padding: 0;
        border: none;
    }

        .phone-control:focus, :hover {
            box-shadow: none;
        }
</style>

<h1>Create</h1>

<h4>Contact</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <partial view-data="ViewData" name="_NumberEditor"/>
            <a id="addItem" asp-action="BlackPhoneNumber">Add number</a>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <link type="text/javascript"
          rel="/Users/a/VsProjects/telephone-directory/telephone-directory/wwwroot/lib/jquery/dist/jquery.min.js"/>

    <script>
        $("#submit").click((e) => {
            e.preventDefault();
            const formData = new FormData();
            
            $(".phone-control").each((i) => {
                console.log(i);
               const number = $(this).val(); 
               formData.append(`PhoneNumbers[${i}]`, number);
                });
            
            $.ajax({
            method: 'post',
            url: Home/Create,
            data: formData,
            processData: false,
            contentType: false,
            success: () => {}
            });
        });
        
        $("#addItem").click(() => {
            $.ajax({
            url: this.href,
            cache:false,
            success: (html) => { $("#editorRows").append(html); }
            });
            
            return false;
        });
        
        $(".deleteRow").on("click", () => {
            $(this).parents(".editor-row:first").remove();
            return false;
        });
    </script>
}
